@import "tailwindcss";

@theme {
  --color-jungle-teal: #4d9078;
  --color-jungle-teal-dark: #2a5c48;
  --color-beige: #ebebd3;
  --color-pumpkin: #f97316;
  --color-teal-blue: #197bbd;
  --color-royal-gold: #f4d35e;
  --color-gray-muted: #6b7280;
  --color-text: #111827;
}
